.header {
    justify-content: center;
    text-align:center;
}
ol li {
    list-style-position: inside;
}
.exam {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#table {
    line-height:200%
}
footer {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left:  30px;
    background: rgb(8, 86, 253);
    color: white;
}
a.foo:hover {
  text-decoration-color: green;
  color: rgb(254, 0, 0);
}
a.foo {
  text-decoration-color: green;
  color: white;
}
